<a href="https://colab.research.google.com/github/dcdesmond/colab-notebooks/blob/master/Self_Teaching_How_to_Load_CSV_files_into_Google_Drive_from_Link.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

From [Get Started: 3 Ways to Load CSV files into Colab](https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92).

In [0]:
import pandas as pd

In [0]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
link = 'https://drive.google.com/open?id=16wpewufjgERWUUa-vcXKV95U_7kPzedP' # The shareable link

In [6]:
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='

16wpewufjgERWUUa-vcXKV95U_7kPzedP

In [11]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Filename.csv')  
df3 = pd.read_csv('Filename.csv')
# Dataset is now stored in a Pandas Dataframe

df3.head() #should have the top 5 rows of the dataset

   account_key    status   join_date  ... days_to_cancel  is_udacity  is_canceled
0          448  canceled  2014-11-10  ...           65.0        True         True
1          448  canceled  2014-11-05  ...            5.0        True         True
2          448  canceled  2015-01-27  ...            0.0        True         True
3          448  canceled  2014-11-10  ...            0.0        True         True
4          448   current  2015-03-10  ...            NaN        True        False

[5 rows x 7 columns]